.popup {
  position: fixed;
  margin: auto;
  background-color: rgb(0, 0, 0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: auto;
  margin: auto;
  background: white;
  overflow-y: auto;
}
